@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: antiquewhite;
    
}


nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;

}

nav {
    font-family: 'Ubuntu' sans-serif;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;

}

.brand img {
    width: 46px;
    padding: 0 8px;

}

.brand {
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.container {
    min-height: 75vh;
    background-color: black;
    color: white;
    display: flex;
    margin:23px auto;
    width: 70%;
    border-radius: 12px;
    background-image: url();

}

.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;

}

.icons {
    color: white;
    margin-top: 12px;

}
.icons i{
    cursor: pointer;
}

footer {
    position: sticky;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myprogressbar {
    width: 80vw;
    text-align: center;


}