@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: antiquewhite;
    background-image: url(https://media1.giphy.com/media/VnIoecjQ3caw8/giphy.gif?cid=790b7611974092d25362c91e8760c23f1d532c06803a4f15&rid=giphy.gif&ct=g);
}


nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;

}

nav {
    font-family: 'Ubuntu' sans-serif;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;

}

.brand img {
    width: 46px;
    padding: 0 8px;

}

.brand {
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.container {
    min-height: 75vh;
    background-color: black;
    color: white;
    display: flex;
    margin:23px auto;
    width: 70%;
    border-radius: 13px;
    background-image: url();

}

.icons {
    color: white;
    margin-top: 12px;

}
.icons i{
    cursor: pointer;
}

footer {
    position: sticky;
    background-color: black;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 19px 0;
    margin: 7px 138px;
    border-radius: 34px;
}

#myprogressbar {
    width: 80vw;
    text-align: center;


}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 34px;
    margin: 19px 35px;
}

.songItem img{
    width: 60px;
    height: 45px;
    border-radius: 34px;
    
}
i{
cursor: pointer;
}
